.dropdown {
  position: relative;

  select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    pointer-events: none;
  }
}
